.search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 1em;
  }
  
  .search-input-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    width: 90%;
    border: 0.1em solid #333;
    padding-left: 0.5em;
    border-radius: 0.2em;
  }
  
  .search-input-container input{
    width: 100%;
    font-size: 2rem;
    padding: 0.4em;
    border: 0;
  }
  
  @media screen and (max-width: 420px) {
    .search-input-container {
      width: 100%;
    }
  }