.new-donation-button {
    color: white;
    background-color: blue;
    padding: 1em;
    font-size: 2rem;
    cursor: pointer;
    text-decoration: none;
    margin-top: 1em;
}

.container {
    margin: 3em 0;
}

.donations-container{
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin: 4em 0;
  }